.calculator{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 40px;
    font-family: sans-serif;
    font-size: 17px;
    color: black;
    background-color: white;
    border: 1px solid #158347;
    border-radius: 15px;
    margin: 0 auto;
}
.right-text{
    display: none;
}

.text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

button {
    width: 100%;
    height: 20%;
    border: none;
    padding: 5px;
    background-color: #158347;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin: 10px 0;
    border-radius: 3px;
}

input {
    width: 270px;
    height: 35px;
    padding: 5px;
    border: 1px solid #1eb2a6;
}


.logo {
    width: 160px;
    margin: 15px;
    border-radius: 78px;
}
body {
    background-image: url(./fon.jpg);
    background-size: cover;
}
.text:hover .right-text{
    display: block;
    position: absolute;
    left: 1150px;
    z-index: 1;
    color: #158347;
    background-color: white;
    width: 25%;
    height: 3%;
    text-align: center;
    font-size: 19px;
    border-radius: 20px;
}

.error {
    text-align: center;
    color: tomato;
    font-size: 20px;

}

.new-sum {
    text-align: center;
    color:#158347;
    font-size: 20px;
}
